<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
</head>
<body>

    <nav>
        <ul class="main-nav font-english">
            <li><a href="/">トップページ</a></li>
            <li><a href="/about/">about</a></li>
            <li><a href="/skills/">skills</a></li>
            <li><a href="/work/">work</a></li>
        </ul>
    </nav>

    <h1>Works</h1>
    <p>過去の実績一覧</p>

    
    <p>群馬大学創基150周年記念及び第80回荒牧祭公式テーマソング</p>

    <p>自動コード伴奏生成アプリ</p>

</body>
</html>
