<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    
</head>
<body>

    <header>
        <nav>
            <ul class="main-nav font-english">
                <li><a href="/"><img class="logo" src="images/sadokur120.png" alt="ホーム"></a></li>
                <li><a href="/">Fumihiro Endo</a></li>
                <ul class="pages">
                    <li><a href="/about/">about</a></li>
                    <li><a href="/skills/">skills</a></li>
                    <li><a href="/work/">work</a></li>
                </ul>
                <li>お問い合わせ</li>
            </ul>
        </nav>
    </header>

    
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url('images/chi23.png')"></div>
            <div class="swiper-slide" style="background-image:url('images/ki39.png')"></div>
            <div class="swiper-slide" style="background-image:url('images/sadokur120.png')"></div>
        </div>
        <!-- ページネーション -->
        <div class="swiper-pagination"></div>
        <!-- ナビゲーションボタン -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src ='javascripts/swiper.js'></script>

    <h1>portfolio</h1>
    <p>Welcome to my site</p>

    <h1>About me</h1>
    <p>遠藤史熙</p>
    <p>群馬大学情報学部</p>

    <h1>Skills</h1>

    <h1>Works</h1>

</body>
</html>
