<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
</head>
<body>

    <header>
        <nav>
            <ul class="main-nav font-english">
                <li><a href="/"><img class="logo" src="images/sadokur120.png" alt="ホーム"></a></li>
                <li><a href="/">Fumihiro Endo</a></li>
                <ul class="pages">
                    <li><a href="/about/">about</a></li>
                    <li><a href="/skills/">skills</a></li>
                    <li><a href="/work/">work</a></li>
                </ul>
            </ul>
        </nav>
    </header>

    <h1>Skills</h1>

    
    <p>プログラミング言語(Python,C,C#,JavaScript,Java)</p>

    <p>ゲーム制作(使用ソフト:Unity)</p>

    <p>CG制作(使用ソフト:Blender)</p>

    <p>音楽制作(使用ソフト:Studio One)</p>

    <p>動画編集(使用ソフト:AviUtl)</p>

</body>
</html>
