<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
</head>
<body>

    <header>
        <nav>
            <ul class="main-nav font-english">
                <li><a href="/"><img class="logo" src="images/sadokur120.png" alt="ホーム"></a></li>
                <li><a href="/">Fumihiro Endo</a></li>
                <ul class="pages">
                    <li><a href="/about/">about</a></li>
                    <li><a href="/skills/">skills</a></li>
                    <li><a href="/work/">work</a></li>
                </ul>
                <li>お問い合わせ</li>
            </ul>
        </nav>
    </header>

    <h1>portfolio</h1>
    <p>Welcome to my site</p>

    <h1>About me</h1>
    <p>遠藤史熙</p>
    <p>群馬大学情報学部</p>

    <h1>Skills</h1>

    <h1>Works</h1>

</body>
</html>
